body {
    font-family: Roboto, sans-serif;
    background-color: black;
    color: white;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* animation-name: slideIn, fadeIn; */
    /* animation-duration: 3s; */
    /* animation-timing-function: linear; */
    /* animation-fill-mode: forwards; */
}

.bio {
    display: inline-block;
}

.avatar {
    float: left;
    padding: 20px;
    -webkit-user-drag: none;
}

.name {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    /* Applies the linear gradient to the specified area */
    -webkit-background-clip: text;
    /* Confines colours to within the characters */
    -webkit-text-fill-color: transparent;
    /* Makes the text transparent by default */
    /* All cited from https://welearncode.com/rainbow-text */
}

/* 

--- INITIAL SOCIAL ICON TRIALS ---

.email-icon {
    animation-name: slideIn, fadeIn;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    color: #ffffff;
    position: relative;
    transition: color 0.2s;
    margin-right: 900px;
} */

/* .email-icon:hover {
    color: #c0c0c0;
}

ion-icon {
    font-size: 64px;
}

--- OLD ANIMATIONS ---

@keyframes slideIn {
    0% {
        top: 50%;
        left: 0%; 
    }

    100% {
        top: ;
        left: 50%;
        animation-play-state: paused;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*/